streamlit==1.39.0  # Atualizado para a versão que você já tem instalada
langchain==0.0.270  # Verifique a versão que é compatível com sua aplicação
langchain-google-genai  # Não especifique uma versão específica, assim irá instalar a versão mais recente disponível
PyYAML==6.0  # Mantém a versão do PyYAML
